<section class="card about">
    <dv class="card-body">
        <h1>About me</h1>
        <p>Este es un proyecto desarrollado con nodejs, expresjs, mongodb, html, css y handlebars
            con el fin de realizar practicas para la compresion del funcionamiento de cada una de 
            dichas herramientas mencionadas y cubrir proyectos de ciertas materias de la universidad
            donde actualmente estudio
        </p>
        <p>desarrollado por JESUS_DLC &copy Todos los derechos reservados</p>
        <a href="https://github.com/JESUS-DLC" target="_blank"><i class="fa fa-github fa-5x btngit" aria-hidden="true"></i></a>
    </dv>
</section>