<div class="jumbotron mt-4">
    <h1 class="dispkay-4">App de Notas con Node y Mongo</h1>
    <p>Esta aplicacion te permitira crear una cuenta para que puedas registar notas de lo que tu quieras
        permitiendote eliminarlas y actualizarlas, con esto podras guardar notas y tener acceso a ellas siemrpe 
        desde tu cuentas
    </p>
 
</div>