<div class="row">
    <div class="mx-auto">
        <div class="login-box">
            <img src="/img/logo.jpg" alt="logo jesusdlc" class="logo">
            <h1>Inicia sesion</h1>
            <form action="/users/signin" method="POST">

                <label>Email</label>
                <input name="email" type="email" placeholder="coloca tu email">

                <label>Contraseña</label>
                <input name="password" type="password" placeholder="coloca tu contraseña">

                <button>Inicia sesion</button>
            </form>
        </div>